input{
    width: 30%;
}
form{
    width: 100%;
}
form input{
    width: 10px;
}
div{
    width: 200px;
    height: 50px;
    margin: 10px;
    border: 1px solid black;
}
.wrapper{
    margin: 0px;
    width: 100%;
    height: 90vh;
    text-align: center;
    border: none;
}
#output{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: none;
    height: auto;
}
#output{
    width: 60%;
}
#countryInfo{
    position: absolute;
    top: 190px;
    right: 5%;
    width: 30%;
    height: 300px;
    border: 1px solid blue;
}